/**Breakpoints
'em' is most consistent unit for breakpoints.
we utilise Sass maps here
**/

//640px, 1024px, 1400px
$breakpoints-up: (
  'medium': '40em',
  'large': '64em',
  'xlarge': '87.5em'
);

//639px, 1023px, 1399px to prevent overlapping styles
$breakpoints-down: (
  'small': '39.9375em',
  'medium': '63.9375em',
  'large': '87.4375em'
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

@mixin scroll-x($background) {
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 25px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-2;
    border-radius: 30px;
    border: 8px solid $background;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

@mixin scroll-y($background) {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 24px;
  }
  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-1;
    border-radius: 30px;
    border: 8px solid $background;
  }
}
