$white: #ffffff;
$black: #222222;

$primary: #151e33;
// $accent: #1E6C93;
$accent: #278dc0;
$secondary: #fe9d02;

$examDarkBlue: #1e6c93;
$examLightBlue: #278dc0;
$grey: #d9d9d9;

$error: #f44336;
$warning: #ffeb3b;
$success: #4caf50;
$grey: #5b5b5b;

$mono: monospace;