$white: #FFFFFF;
$black: #222222;

$primary: #151E33;
// $accent: #1E6C93;
$accent: #278DC0;
$secondary: #FE9D02;

$examDarkBlue: #1E6C93;
$examLightBlue: #278DC0;
$grey: #D9D9D9;

$error: #F44336;
$warning: #FFEB3B;
$success: #4CAF50;
